div{
  display: flex;
  justify-content:center;
  align-items: center;
  button{
    background-color: greenyellow;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: fantasy;
    padding: 7px 7px;
    margin-left: 10px;
  }
}
button:hover{
  border-radius: 30px;
  opacity: .8;
}
