
<section>
  <h2>{{title}}</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur dolore dolores iusto, tempore nobis assumenda repellat fugiat natus distinctio voluptatibus sit quibusdam nam illo aperiam inventore magni enim voluptates quidem?</p>
  <button  (click)="showDetails()">More info</button>
  <div *ngIf="show">{{nome}}</div>
</section>
<section>
  <h2>{{title}}</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur dolore dolores iusto, tempore nobis assumenda repellat fugiat natus distinctio voluptatibus sit quibusdam nam illo aperiam inventore magni enim voluptates quidem?</p>
  <button (click)="showDetails()">More info</button>
  <div *ngIf="show">{{nome}}</div>
</section>
<section>
  <h2>{{title}}</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur dolore dolores iusto, tempore nobis assumenda repellat fugiat natus distinctio voluptatibus sit quibusdam nam illo aperiam inventore magni enim voluptates quidem?</p>
  <button  (click)="showDetails()">More info</button>
  <div *ngIf="show">{{nome}}</div>
</section>

