#body{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  #card{
     position: relative;
     width: 100%;
  }
  #container{
    margin:  10px auto;
    width: 90%;
    border: 1px solid aqua;
    border-radius: 5px;
  }
  #viewport{
    border-bottom: 1px solid white;
    padding-top: 5px;
    background-color: aqua;
  }
  #btn{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    opacity: .5;
    button{
      background-color: rgb(9, 142, 142);
      opacity: 1;
      color: black;
    }
  }
}
